
@font-face{
font-family: universnb;
src: url('../fonts/UNIVERNB.TTF')
}


/*  div.container.top_line  */


header.top_menu{
	background: url('../img/top_menu.jpg') repeat-x;
	width: 100%;
}
div.top_line{
	height: 50px;
}
.top_line ul{
	margin: 0 auto;
	width: 745px;
}
div.top_line ul li{
	display: inline;
	float: right;
}
div.top_line ul li a{
	font-family: "Trebuchet MS";
	//font-weight: bold;
	color: black;
	font-size: 1em;
}
div.top_line ul li{
	padding-top: 15px;
}
div.top_line ul li a:hover{
	text-decoration: none;
	color: rgb(176, 194, 174);
    //font-weight: normal;
}


/*  nav.navmenu */


nav{
	width:100%;
	height: 50px;
}
nav ul{
	width: 805px;
	margin: 0 auto;
}
nav ul li{
	display: inline;
	float: left;
	padding-top: 15px;
}
nav ul li a{
	color: rgb(184, 213, 164);
	font-family: universnb;
	font-size: 1em;
}
nav li{
	color: rgb(77, 102, 78);
}
nav a#pull {  
    display: none;  
}    
nav a#pull:hover{
	text-decoration: none;
}
nav.navmenu a:hover{
	text-decoration: none;
    color: rgb(255, 255, 255);
}




/* responsive nav menu */


@media screen and (max-width: 765px) {  
    nav {   
        height: auto;  
    }  
    nav ul {  
        width: 100%;  
        display: block;  
        height: auto;  
    }  
    nav li {  
        width: 50%;  
        float: left;  
        position: relative;  
        background: url('../img/navbar_03.jpg') repeat-x;
    }  
    nav li a {  
        //border-bottom: 1px solid #576979;  
        //border-right: 1px solid #576979;  
    }  
    nav a {  
        text-align: left;  
        width: 100%;  
        text-indent: 25px;  
    }  
    .top_line ul{
    	width: 400px;
    }
    div.top_line ul li a{
		font-size: 0.8em;
	}
	body { 
		//padding-left: 0; 
        //padding-right: 0; 
	}
	nav.navmenu ul li a{
		font-size: 0.9em;
	}
}  

@media only screen and (max-width : 460px) {  
    nav {  
        border-bottom: 0;  
    }  
    nav ul {  
        display: none;  
        height: auto;  
    }  
    nav a#pull {  
        display: block;  
        background: url('../img/navbar_03.jpg') repeat-x;
        height: 30px;  
        width: 100%;  
        position: relative;  
        color: white;
        padding-top: 5px;
    }  
    nav a#pull:after {  
        content:"";  
        background: url('../img/nav-icon.png') no-repeat;  
        width: 30px;  
        height: 30px;  
        display: inline-block;  
        position: absolute;  
        right: 15px;  
        top: 5px;  
    }  
    div.top_line ul li a{
		font-size: 0.65em;
	}
    .top_line ul{
    	width: 320px;
    }
    nav.navmenu ul li a{
		font-size: 0.8em;
	}
}  

@media only screen and (max-width : 380px) {  
    nav li {  
        display: block;  
        float: none;  
        width: 100%;  
    }  
    nav li a {  
        //border-bottom: 1px solid #576979;  
    }  
}  




/*  Divers  */



article.photo{
	margin-top: 10px;
}

article.photo img{
	width: 100%;

}


/* Text intro */

article.intro{
    margin-top: 30px;
}
article.intro h1{
    font-family: universnb;
    color: #447a1c;
}
article.intro h4{
    font-family: universnb;
    color: #447a1c;
}
article.intro p{
    font-family: "Trebuchet MS";
    color: #447a1c;
}

.main{
    margin-top: 20px;
}

article.galerie h3{
    font-family: universnb;
    color: #447a1c;    
}
article.span3.adresse{
    //margin-left: 20px;
}
article.adresse h3{
    font-family: universnb;
    color: #447a1c;  
    margin-bottom: 30px;  
}
article.adresse p{
    font-family: universnb;
    color: #447a1c; 
}


/*  footer */


footer{
    background: url('../img/footer_10.jpg') repeat-x;
    //width: 100%;
    //height: 66px;
}
footer.index{
    margin-top:60px;
    height: 66px;
    position: relative;
    top: 8px;
}

/* sticky footer trick */

footer.contactfooter{
    width:100%;
    position: absolute;
    height: 66px;
    clear:both;
    top:100%;
}

footer.tarifsfooter{
    width:100%;
    height: 66px;
    position: relative;
    top: 8px;
}

footer p{
    padding-top: 29px;
    color: #cbd0ae;
    text-align: center;
    font-family: "Trebuchet MS";
    font-size: 12px;
}
footer img{
    position: relative;
    float: right;
    top: -45px;
    right: 20px;
}


/* Gallerie */

.thumbnail a img:hover {
    box-shadow: 0px 0px 12px #888888;

}   
.ligne2{
    padding-top: 20px;
}

div.promo h3{
    margin-top: 100px;
    text-align: center;
    font-family: universnb;
    color: #447a1c; 
}


/* plan et map */


#map{
    //width: 500px;
    height: 400px;
    border: 3px solid #346410;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
}
#map img{
    max-width: none;
}
.plan{
    margin-top: 40px;
    font-family: "Trebuchet MS";
    min-height: 600px;
}


/* contact */


.contact{
    margin-top: 40px;
    //min-height: 600px;
}
.contact form{
    text-align: center;
}


.tarifs{
    padding-top: 30px;
    color: rgb(68, 85, 56);
    font-family: universnb;
    font-size: 1.2em;
}
.tarifs caption{
    color: rgb(189, 74, 30);
    border-bottom: 1px solid rgba(108, 146, 108, 0.57);
    padding-bottom: 10px;
}



















